- # Mostra as atividades realizadas e data completa
.row
  .col-md-12
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %td Atividades realizadas
          %td Data
      %tbody
        %tr
          %td= @performed_activity.text
          %td= @performed_activity.created_at
