!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
  %body
    %h3 Boa tarde,
      = @user.name
    %p
      Acesse o
      = link_to 'link', @url, target: '_blank'
      para adicionar as suas atividades realizadas do dia.
      %br
