!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
  %body
    %h3 Bom dia,
      = @user.name
    %p
      Acesse o
      = link_to 'link', @url, target: '_blank'
      para adicionar as suas atividades planejadas do dia.
      %br
