- # Página que exibe as atividades dos usuários e permite criação de novas atividades
.row
  .col-md-6
    =link_to 'Nova atividade planejada', planned_activities_url
    - if @user.planned_activities.any?
      %h6
        Atividades planejadas (
        =@user.planned_activities.count
        )
      %table.table.table-bordered.table-hover
        =paginate @planned_activities
        %thead
          %tr
            %td Data
        %tbody
          - @planned_activities.each do |pa|
            %tr
              %td= render pa
    %br
    =link_to 'Nova atividade realizada', performed_activities_url
    - if @user.planned_activities.any?
      %h6
        Atividades realizadas (
        =@user.performed_activities.count
        )
      %table.table.table-bordered.table-hover
        =paginate @performed_activities
        %thead
          %tr
            %td Data
        %tbody
          - @performed_activities.each do |pa|
            %tr
              %td= render pa
