<div id="login">
  <h2><%= "Administração "+active_admin_application.site_title()+" (Inglês)" %></h2>

  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_session_path"), html: { id: "session_new" }) do |f|
    f.inputs do
      f.input :email, label: "E-mail", input_html: { autofocus: true }
      f.input :password, label: "Senha"
      f.input :remember_me, label: "Lembrar", as: :boolean if devise_mapping.rememberable?
    end
    f.actions do
      f.action :submit, button_html: { value: "Entrar" }
    end
  end
  %>
  <%= render partial: "active_admin/devise/shared/links" %>
</div>
