- # Formulário para inserção de atividade planejada
.row
  %aside.col-md-12
    = simple_form_for(@planned_activity) do |f|
      .form-group
        = render 'shared/error_messages', object: f.object
        = f.label :text, 'O que pretende fazer hoje? Há algum impedimento?'
        = f.input :text, as: :text, label: false
        = f.submit "Salvar", class: "btn btn-primary"
