- # Mostra as atividades planejadas e data completa
.row
  .col-md-12
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %td>Atividades planejadas
          %td>Data
      %tbody>
        %tr>
          %td= @planned_activity.text
          %td= @planned_activity.created_at
