- # Na página de Login, o usuário pode acessar o link da página de administração
- # Caso esteja logado, vai ver o nome cadastrado e link para sair do sistema
%header.navbar.navbar-expand-sm.bg-light.navbar-light
  .container
    %h4
      %b= link_to "DMMan", root_path, {style: "text-decoration:none", class:"text-white badge badge-pill badge-dark"}
    %nav
    - if user_signed_in?
      %ul.navbar-nav
        %span.nav-item.nav-link.nav-text
          Logado como
          %b= current_user.name
        = link_to "Sair", destroy_user_session_path, method: :delete, class: 'nav-item nav-link'
    - else
      %ul.navbar-nav
        = link_to "Administração", admin_root_path, class: 'nav-item nav-link'
