- #"Página esqueleto" que carrega o conteúdo de cada página do sistema
!!!
%html
  %head
    %title Gerenciador de Daily Meetings (DMMan)
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'
    .container
      = yield
